@{
    ViewData["Title"] = "Home Page";
}

<div
            
              data-parallax="scroll"
              data-image-src="images/dream-pulse-header.jpg">
              <div class="tm-section-wrap">
                <section class="tm-section">
                    <div class="tm-bg-white-transparent tm-intro">
                        <img  src="images/dream-pulse-header.jpg" alt="Sample Photo" style="width: 1600px; height: 800px;" />
                       
                    </div>              
                </section>
            </div> 
            </div>

