@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
.column1 {
    float: left;
    width: 50%;
}
.column2 {
    float: right;
    width: 50%;
}